fastapi
uvicorn[standard]
websockets
torch
torchaudio
transformers
datasets
numpy
scipy
librosa
soundfile
python-multipart
pydantic
xmltodict
python-Levenshtein
fuzzysearch
diff-match-patch
rich
quran-muaalem
quran-transcript
